# Runtime logs and artifacts
osquery/logs/
osquery/osquery.db
osquery/osquery.em
osquery/osquery.pid

# Docker volumes and data
**/dead_letter_queue/
**/queue/
**/sincedb-*

# macOS
.DS_Store


osquery/logs/
osquery/osquery.db/
*.log


ml-service/state/
ml-service/state-osq/

# Python virtualenv
.venv/
**/.venv/
__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
